.prop-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.prop-label{
    font-size: 12px;
    text-wrap: nowrap;
}

.prop-area{
    height: 25px;
    width: 130px;
}

.prop-reset-btn{
    height: 12px;
    font-size: 12px;
    padding: 16px 24px;
}